.form {
  min-height: 100vh;
}
.formContacts {
  height: 50%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  padding: 2rem;

  background-color: var(--dark-green);
}
.input-form {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
  border-radius: 10px;
  color: var(--gold-color);
  width: 50%;
  min-height: 36rem;
  border: 2px solid var(--gold-color);
  box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
}
.input-form legend {
  text-transform: capitalize;
  font-family: var(--primary-font);
  font-size: 2rem;
  padding-inline: 2rem;
  padding-top: 1rem;
}
.fillContacts {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
}
.fillContacts label {
  font-family: var(--primary-font);
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--gold-color);
}
.fillContacts input {
  height: 2rem;
  padding: 1rem;
  width: 100%;
  margin: 1rem 0rem;
  border: 2px solid var(--gold-color);
  text-transform: capitalize;
  font-family: var(--primary-font);
  transition: all 2s;
  background-color: var(--dark-green);
  color: var(--white-color);
}
.input-form ::placeholder {
  color: var(--white-color);
  font-family: var(--primary-font);
}
.fillContacts input:hover {
  border: none;
  border-bottom: 2px solid var(--gold-color);
}
textarea {
  border: 2px solid var(--gold-color);
  max-width: 100%;
  max-height: 10rem;
  font-family: var(--primary-font);
  background-color: var(--dark-green);
  color: var(--white-color);
  padding: 1rem;
}
.btnSubmit {
  background-color: var(--dark-green);
  color: var(--primary-color);
  font-size: 1.5rem;
  font-family: var(--primary-font);
  margin-block: 2rem;
  padding: 0.5rem;
  border: none;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 2s ease;
}
.btnSubmit:hover {
  background-color: var(--gold-color);
  color: var(--secondary-color);
}
.companyDetails {
  border: 2px solid var(--white-color);
  border-radius: 10px;
  background-color: var(--dark-green);
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
}
.companyDetails h2 {
  font-family: var(--secondary-font);
  font-size: 1rem;
  text-transform: capitalize;
  padding: 1rem;
}
.detail1 {
  display: flex;
  align-items: center;
  text-align: center;
  /* justify-content: center; */
  gap: 2rem;
  padding: 2rem;
  font-family: var(--secondary-font);
  text-transform: capitalize;
}
.detail1 svg {
  font-size: 2rem;
}
@media screen and (max-width: 924px) {
  .input-form {
    min-width: 70%;
  }
}
@media screen and (max-width: 308px) {
  .detail1 {
    width: 80vw;
  }
  .fillContacts legend {
    font-size: 1rem;
  }
  .mapText p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .input-form {
    min-width: 100%;
  }
}
@media screen and (max-width: 932px) {
  .formContacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.map {
  overflow: hidden;
  /* position: relative; */
  width: 100%;
  display: flex;
  padding: 1rem;
  gap: 2rem;
  align-items: center;
  background-color: var(--gold-color);
  justify-content: center;
  height: 450px; /* Ensure the height is explicitly set */
}
.mapText {
  background-color: var(--dark-green);
  color: var(--gold-color);
  padding: 2rem;
  box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}
.mapText p {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: var(--secondary-font);
  font-weight: bold;
}

iframe {
  /* left: 0;
    top: 0; */
  height: 100%;
  width: 100%;
  /* position: absolute; */
  border: 0;
}
@media screen and (max-width: 588px) {
  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
