.slidesContainer {
  min-height: 100vh;
  /* min-width: 100vw; */
  display: flex;
  box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -7px 10px 14px -1px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  color: var(--white-color);
}
.bg {
  background: radial-gradient(
    circle,
    rgba(158, 98, 0, 1) 4%,
    rgba(3, 34, 33, 1) 100%
  );
}
.row {
  flex-direction: row-reverse;
  /* background-color: var(--gold-color); */
}
.Slidetitle {
  width: 40%;
}
.Slidetitle p {
  font-size: 1.5rem;
  font-family: var(--primary-font);
}
.Slidetitle h2 {
  letter-spacing: 2px;
  font-family: var(--secondary-font);
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
}
.carouselSlide {
  height: 30rem;
  width: 60rem;

  margin: 0 auto;
}
.sliderStyles {
  height: 100%;
  position: relative;
}
.ImageBox {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
}
.leftarrow {
  position: absolute;
  top: 50%;
  left: 32px;
  cursor: pointer;
  z-index: 1;
  transform: translate(0, -50%);
}
.leftarrow svg {
  fill: var(--white-color);
  font-size: 2rem;
}
.rightarrow {
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  right: 32px;
  z-index: 1;
  cursor: pointer;
}
.rightarrow svg {
  fill: var(--white-color);
  font-size: 2rem;
}
@media screen and (max-width: 976px) {
  .slidesContainer {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}
@media screen and (max-width: 888px) {
  .carouselSlide {
    width: 80vw;
  }
}
@media screen and (max-width: 600px) {
  .Slidetitle {
    width: 80vw;
  }
  .Slidetitle h2 {
    font-size: 1.5rem;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
}
