.newsLetter {
  background-image: url(../../../assets/wave.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 20vh; */
  transition: all 2s;
}
form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
input {
  background-color: var(--white-color);
  width: 30%;
}
button {
  /* width: 10%; */
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  height: 3rem;
  font-family: var(--secondary-color);
  transition: all 2s;
}
button:hover {
  background-color: var(--dark-green);
  color: var(--white-color);
}
legend {
  font-size: 2rem;
  font-family: var(--primary-color);
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
