.newsLetter {
  background-image: url(../../../assets/wave.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid white;
  transition: all 2s;
}

.newsletter {
  display: flex;
  border: 2px solid green;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.news {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.newsletter input {
  background-color: var(--white-color);
  width: 20rem;
  height: 2rem;
  font-size: 0.8rem;
  padding-inline: 2rem;
  font-family: var(--primary-font);
}

input::placeholder {
  color: var(--dark-green);
}

button {
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  text-transform: capitalize;
  /* height: 2rem; */
  font-family: var(--secondary-color);
  transition: all 2s;
}

button:hover {
  background-color: var(--dark-green);
  color: var(--white-color);
}

legend {
  font-size: 2rem;
  font-family: var(--primary-color);
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
