.footer-container {
  padding: 1rem;
  background: radial-gradient(
    circle,
    rgba(158, 98, 0, 1) 4%,
    rgba(3, 34, 33, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-family: var(--primary-font);
  text-transform: uppercase;
  color: var(--white-color);
}
.footer-container p {
  font-size: 1rem;
  text-transform: uppercase;
}
