@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --primary2-color:#1c4529;
    --primary-color:#d49b41;
    --gold-color:#9e6200;
    --lightgold-color:#bf932a;
    --background-color:#233727;
    --font-color:#03624c;
    --dark-green:#032221;
    --white-color:#fff;
    --black-color:#000;
    --primary-font:'Poppins', Sans-serif;
    --secondary-color:'Anton', Sans-serif;
}